@import "variables";
@import "mixin";

body {
  padding: 0px;
  margin: 0px auto;
}

a {
  text-decoration: none;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
}

//home.vue
.el-menu-item, .el-submenu__title {
  color: #fff;
}

.el-menu .el-menu-item, .el-submenu .el-submenu__title {
  height: 46px;
  line-height: 46px;
}

.el-menu-item:hover, .el-submenu .el-menu-item:hover, .el-submenu__title:hover {
  background-color: #7ed2df;
}

.el-submenu .el-menu-item {
  background-color: #333744
}

.el-submenu .el-menu-item:hover {
  background-color: #4A5064
}

.el-submenu .el-menu-item.is-active, .el-menu-item.is-active,
.el-submenu .el-menu-item.is-active:hover, .el-menu-item.is-active:hover {
  background-color: #00C1DE;
  color: #fff;
}

.el-menu .iconfont {
  vertical-align: baseline;
  margin-right: 6px;
}
.el-table th {
  background-color: #f5f5f5;
  border-bottom: 1px solid #d5d5d5 !important;
}

.warp-breadcrum {
  margin: 5px 10px 15px 0px;
}

.block-box {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  transition: .2s;
  margin-bottom: 24px;
}
.transition-box {
  border: 1px solid #ebebeb;
  transition: .2s;
  margin-bottom: 24px;
}
/*title+content*/
.grid-content {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  .grid-table {
    position: absolute;
    top: 0;
    right: 10px;
    left: 20px;
    border-left: 1px solid $thBorderColor;
    border-right: 1px solid $thBorderColor;
    border-top: 1px solid $thBorderColor;
    border-bottom: 1px solid $tdBorderColor;
    @include overflowCss();
    overflow-x: auto;
    overflow-y: hidden;

    .grid-table-container {
      background-color: white;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0px;
      .checkbox-warp {
        min-width: 100px;
        height: 40px;
        line-height: 40px;
        padding-left: 15px;
        color: #8c8b8b;
      }
      .el-table--border {
        border: none;
      }
    }
  }

  .grid-tfoot {
    position: absolute;
    left: 20px;
    right: 10px;
    bottom: 0;
    height: 40px;
    border: 1px solid #d5d5d5;
    padding-top: 10px;
    overflow: hidden;

    .el-pagination {
      float:right;
    }
  }
}

/* block-box */
.box-view {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  transition: .2s;
  margin-bottom: 10px;
  .header {
    height: 40px;
    font-weight: normal;
    font-size: 14px;
    color: #4f4f4f;
    line-height: 40px;
    padding: 0 20px;
    border-bottom:1px solid #eaeaea;
    overflow: hidden;
    background-color: #fbfbfc;
    .tab{
      display: inline-block;
      vertical-align: top;
      position: absolute;
      right: 20px;
      ul{
        font-size: 0;
        li{
          font-size: 14px;
          display: inline-block;
          padding: 0 10px;
          height: 40px;
          cursor: pointer;
          color: #a7a7a7;
          &.active{
            color: #02b0f0;
            border-bottom:2px solid #02b0f0;
          }
        }
      }
    }
  }
  .body {
    width: 100%;
    font-size: 0;
    overflow: auto;
    .el-form-item {
      margin-bottom: 10px !important;
    }
  }
}
/*过滤条件*/
.reset-form {  
  .el-form-item {
    margin-bottom: 10px !important;
  }
}

.filter-panel {
  display: inline-block;
  vertical-align: top;
}

.filter-single {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  margin-right: 5px;
  width: 120px;
}
/*切换按钮*/
.classType {
  font-size: 0;
  display: inline-block;
  vertical-align: top;
  height: 35px;
  line-height: 35px;
  width: 58px;
  padding-top: 15px;
  text-align: center;
  cursor: pointer;
  float: right;
  
  .type_icon {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    background: url(../images/icons_case.png) no-repeat;
    &.type_icon1 {
      background-position: -71px -412px;
    }
    &.type_icon2 {
      background-position: -71px -440px;
    }
  }
  &.active {
    background-color: #eee;
    .type_icon {
      &.type_icon1 {
        background-position: -44px -412px;
      }
      &.type_icon2 {
        background-position: -44px -440px;
      }
    }
  }
}

/*暂无数据*/
.c-warp-nodata {
  height: 180px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: -130px;
  color: #999;
  .icon-nodata {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    margin: 0 auto;
    background: url(../images/icons.png) no-repeat -129px -1030px;
  }
  em {
    color: #02b0f0;
  }
  p {
    margin: 7px 0 15px 0;
  }
}
/* 右侧报警信息栏 */
.aside-menu {
  position: fixed;
  z-index: 900;
  width: 250px;
  height: 100%;
  color: #263238;
  background: #fbfbfc;
  border-left: 1px solid #cfd8dc;
  right: 0;
  flex: 0 0 250px;
  border-top: none;
  box-shadow: -4px 0px 5px rgba(0, 0, 0, 0.2);
  transition: margin-left .25s, margin-right .25s, width .25s, flex .25s;
  .header {
    height: 40px;
    font-weight: normal;
    font-size: 14px;
    color: #4f4f4f;
    line-height: 40px;
    padding: 0 20px;
    border-bottom:1px solid #eaeaea;
    overflow: hidden;
    background-color: #fbfbfc;
  }
  .aside-options {
    overflow-y: auto;
    padding-bottom: 1px;
    height: calc(100% - 110px);
  }
}

.mt-4 {
  margin-top: 0.5rem!important;
}
.px-4 {
  padding-right: 0.5rem!important;
  padding-left: 0.5rem!important;
}
.aside-menu-hidden .aside-menu{ 
  margin-right: -300px;
}